@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

/* html {
  transition: background-color 0.3s, color 0.3s;
} */

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #3abdf8;
  --color-secondary: #ff8600;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #00e8ff;
  --color-secondary: #ff865b;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
